.about--wrapper {
  width: 100%;
}

.about--wrapper__top {
  position: relative;
  border-radius: 5px 5px 0 0;
  background: #80C9D4;
  height: 45px;
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .about--wrapper__top {
    height: auto;
  }
}

.about--wrapper__bottom {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 35px 40px 42px;
  margin: 0;
}

@media (max-width: 1200px) {
  .about--wrapper__bottom {
    padding: 15px;
    max-height: 500px;
    overflow-y: scroll;
  }
}

@media (max-width: 1200px) {
  .about--list {
    flex-direction: column;
  }
}

.about--list {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.about--item {
  width: 20%;
  text-align: center;
  font-size: 1.42857em;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: 0.3s;
  height: 100%;
}

@media (max-width: 1200px) {
  .about--item {
    width: 100%;
    padding: 5px 0;
  }
}

.about--item p {
  margin: 0px auto;
}

.about--item:hover {
  background: rgba(1, 186, 214, 0.7);
  cursor: pointer;
}

.about--item_active {
  background: #01BAD6;
}

.about--item_active:hover {
  opacity: 1;
  cursor: default;
}

.about--item:nth-child(1) {
  border-top-left-radius: 5px;
}

@media (max-width: 1200px) {
  .about--item:nth-child(1) {
    border-top-right-radius: 5px;
  }
}

.about--item:nth-last-child(1) {
  border-top-right-radius: 5px;
}

@media (max-width: 1200px) {
  .about--item:nth-last-child(1) {
    border-top-right-radius: 0;
  }
}

.about--bottom__item {
  display: none;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.about--bottom__item_active {
  display: block;
}

.about--description__text {
  font-size: 1.142857em;
  line-height: 1.25em;
  margin: 0;
  margin-bottom: 33px;
  color: #484848;
  letter-spacing: 0.035em;
}

.about--description__text:nth-last-child(1) {
  margin-bottom: 0;
}

.about--character__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .about--character__wrapper {
    align-items: center;
  }
}

.about--character__row {
  display: flex;
  justify-content: space-between;
  width: 273px;
  margin-bottom: 9px;
}

.about--character__left {
  font-size: 1.14285em;
  line-height: 1.25em;
  font-weight: 300;
  color: #535353;
}

.about--character__right {
  font-size: 1.14285em;
  line-height: 1.25em;
}

.about--character__line {
  height: 240px;
  width: 1px;
  background: #A6A6A6;
}

@media (max-width: 1200px) {
  .about--character__line {
    display: none;
  }
}

.about--review__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 21px 0 -9px;
}

@media (max-width: 1200px) {
  .about--review__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }
}

.about--review__left {
  padding-top: 12px;
}

.about--review__slider {
  position: relative;
  padding: 0 50px 0;
}

@media (max-width: 1200px) {
  .about--review__slider {
    padding: 0 27px 0 33px;
  }
}

.about--review__row {
  display: flex;
  margin-bottom: 15px;
}

.about--review__img {
  width: 50px;
  height: 50px;
  margin-right: 7px;
  background: #80C9D4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.about--review__name {
  font-size: 1.42857em;
  line-height: 1.2em;
  font-weight: 500;
}

.about--review__stars {
  display: flex;
  justify-content: space-between;
  width: 95px;
}

.about--review__stars img {
  width: 15px;
  height: 15px;
}

.about--review__text {
  font-size: 1.14285em;
  line-height: 1.25em;
  font-weight: 300;
  letter-spacing: 0.025em;
  width: 465px;
}

@media (max-width: 1200px) {
  .about--review__text {
    width: 240px;
  }
}

.about--review__right {
  width: 380px;
}

@media (max-width: 1200px) {
  .about--review__right {
    width: 300px;
  }
}

.about--review__title {
  font-size: 1.42857em;
  line-height: 1.2em;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 30px;
}

.about--review__input {
  width: 100%;
  padding: 0 5px 6px 1px;
  border: 0;
  border-bottom: 1px solid #979797;
  margin-bottom: 33px;
}

.about--review__input_margin {
  margin-bottom: 19px;
}

.about--review__input-stars {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto 17px;
}

.about--review__input-stars img {
  width: 20px;
  height: 20px;
}

.about--review__input-stars img:hover {
  cursor: pointer;
}

.about--review__btn {
  width: 200px;
  height: 40px;
  border-radius: 113px;
  margin: 0px auto;
  display: block;
}

.about--review__star-text {
  font-size: 0.71428em;
  line-height: 1.2em;
  font-weight: 300;
  text-align: center;
  margin-top: 15px;
}

.about--review__star-text_link {
  color: #01BAD6;
}

.about--recently__wrapper {
  position: relative;
  padding: 0 61px;
}

.about--recently__wrapper--list {
  display: block;
}

.about--recently__wrapper--list .recomend--item {
  margin: 0px auto;
}

.about--recently__wrapper--list .recomend--item img {
  display: inline-block;
}

.about--documentation__text {
  font-size: 1.142857em;
  line-height: 1.25em;
  margin: 0;
  margin-bottom: 33px;
  color: #484848;
  letter-spacing: 0.035em;
}

.about--documentation__text:nth-last-child(1) {
  margin-bottom: 0;
}
