.ycont {
  display: flex;
  flex-direction: column;
  max-width: 1270px;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.ycont--regist {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .ycont--regist {
    flex-direction: column;
  }
}

.ycont--logoBar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

@media (max-width: 1200px) {
  .ycont--logoBar {
    flex-direction: column;
  }
}

.ycont--searchBar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: static;
}

@media (max-width: 1200px) {
  .ycont--searchBar {
    justify-content: center;
  }
}

.ycont--company {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

@media (max-width: 1200px) {
  .ycont--company {
    flex-direction: column;
    align-items: center;
  }
}

.ycont--company_top {
  margin-bottom: 70px;
}

@media (max-width: 1200px) {
  .ycont--company_top {
    margin-bottom: 30px;
  }
}

.ycont--company_bottom {
  display: block;
}

.ycont--nav {
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.ycont--product {
  flex-direction: row;
  align-items: start;
}

@media (max-width: 1200px) {
  .ycont--product {
    flex-direction: column;
    align-items: center;
  }
}

.ycont--search {
  flex-direction: row;
  align-items: start;
}

.ycont--footer {
  flex-direction: column;
}

.ycont--footer__bottom {
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 1200px) {
  .ycont--footer__bottom {
    flex-direction: column;
    padding-bottom: 15px;
  }
}
