body {
  max-width: 1960px;
  margin: 0px auto;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  transition: 0.3s;
}

a:hover {
  opacity: 0.9;
  cursor: pointer;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  outline: 0;
}

a {
  text-decoration: none;
  color: #190b02;
}

*, *:before, *:after, html {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

h1, h2, h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper--header {
  flex-direction: column;
}

.ycont {
  display: flex;
  flex-direction: column;
  max-width: 1270px;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.ycont--regist {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ycont--logoBar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.ycont--searchBar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.header--regist {
  background: #F1F1F1;
  padding: 10px 0;
  width: 100%;
}

.header--regist__link {
  margin-right: 35px;
}

.header--regist__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--enter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

.header--enter__button {
  font-size: 0.71428em;
  text-align: right;
  line-height: 0.9em;
  color: #6C6C6C;
  margin-bottom: 3px;
  margin-left: auto;
  transition: 0.3s;
}

.header--enter__button:nth-child(2) {
  margin-bottom: 0;
}

.header--enter__button:hover {
  cursor: pointer;
  color: #000000;
}

.logoBar--phones {
  padding-left: 45px;
  background: url("../img/phone.png") no-repeat left center;
  display: flex;
  flex-direction: column;
}

.logoBar--phones__text {
  font-size: 1.2857em;
  font-weight: 500;
  line-height: 1.1em;
}

.logoBar--phones__text_color {
  font-size: 1.1428em;
  color: #4F4F4F;
}

.logoBar--time {
  padding-left: 45px;
  background: url("../img/clock.png") no-repeat left center;
  height: 37px;
  display: flex;
  align-items: center;
}

.logoBar--time__text {
  font-size: 1.1428em;
  font-weight: 500;
}

.logoBar__button {
  width: 200px;
  height: 40px;
  border: 1.5px solid #01BAD6;
  border-radius: 25px;
  color: #01BAD6;
  font-size: 1.1428em;
  font-weight: 500;
  background: transparent;
  transition: 0.3s;
}

.logoBar__button:hover {
  opacity: 0.8;
}

.logoBar--icons {
  display: flex;
}

.logoBar--icons__block {
  position: relative;
}

.logoBar--icons__block:nth-child(2) {
  margin-left: 40px;
}

.logoBar--icons__circle {
  position: absolute;
  top: -8px;
  right: -9px;
  width: 18px;
  height: 18px;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  background: #01BAD6;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0.8571em;
  text-align: center;
}

.searchBar {
  background: #F1F1F1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.searchBar--catalog {
  width: 370px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #159CB0;
  border-radius: 3px;
  position: relative;
  transition: 1s;
}

.searchBar--catalog_active {
  background: #01BAD6;
}

.searchBar--catalog:hover {
  cursor: pointer;
}

.searchBar--catalog__img {
  margin-right: 16px;
}

.searchBar--catalog__text {
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
}

.searchBar--catalog__bottomBar {
  height: 0;
  padding: 0 35px;
  overflow: hidden;
  position: absolute;
  top: 29px;
  left: 0;
  background: #ffffff;
  width: 370px;
  transition: 1s;
}

.searchBar--catalog__bottomBar_active {
  height: auto;
}

.searchBar--catalog__bottomBar--right {
  opacity: 0;
  position: absolute;
  top: 16px;
  left: 100%;
  background: #ffffff;
  width: 365px;
  padding: 35px 35px 35px 30px;
}

.searchBar--catalog__link {
  font-size: 1.14285em;
  color: #1C1C1C;
  line-height: 1.25em;
  margin-bottom: 18px;
  padding-right: 20px;
  background: url("../img/arrow-right.png") no-repeat right center;
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.searchBar--catalog__link:nth-child(1) {
  margin-top: 53px;
}

.searchBar--catalog__link:hover {
  color: #01BAD6;
}

.searchBar--catalog__link_active {
  background: url("../img/arrow-left.png") no-repeat right center;
}

.searchBar--catalog__link_bg {
  background: 0;
}

.searchBar--catalog__line {
  width: 100%;
  height: 16px;
  background: #01BAD6;
  position: absolute;
  top: 0;
  left: 0;
}

.searchBar--search {
  position: relative;
  display: flex;
}

.searchBar--search__input {
  width: 690px;
  height: 38px;
  padding-left: 20px;
  padding-right: 60px;
  border-radius: 3px;
  border: 0;
}

.searchBar--search__buttons {
  display: none;
  position: relative;
  left: -20px;
}

.searchBar--search__button {
  width: 55px;
  height: 38px;
  border: 0;
  padding: 0;
}

.searchBar--search__button_search {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #01BAD6 url("../img/search.png") no-repeat center center;
}

.searchBar--search__button_close {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #01BAD6 url("../img/close.png") no-repeat center center;
}

.searchBar--search__button_active {
  background: #01BAD6 url("../img/search.png") no-repeat center center;
  border-radius: 5px;
  width: 45px;
  margin-left: 30px;
}

.searchBar--nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: #ffffff;
  padding: 7px 0;
}

.searchBar--nav__link {
  font-size: 1em;
  line-height: 1.2em;
  color: #1C1C1C;
  transition: 0.3s;
  margin-right: 42px;
}

.searchBar--nav__link:nth-child(:last-child) {
  margin-right: 0;
}

.searchBar--nav__link:hover {
  opacity: 0.9;
}

.searchBar--nav__line {
  position: absolute;
  width: 1px;
  height: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
