body {
  max-width: 1960px;
  margin: 0px auto;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  transition: 0.3s;
}

a:hover {
  opacity: 0.9;
  cursor: pointer;
}

.button {
  border: 0;
  background: #01BAD6;
  color: #ffffff;
  font-size: 1.07142em;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  background-color: #159CB0;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.balance {
  position: relative;
}

.balance div {
  position: absolute;
  top: -8px;
  right: -9px;
  width: 18px;
  height: 18px;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  background: #01BAD6;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0.8571em;
  text-align: center;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  outline: 0;
}

a {
  text-decoration: none;
  color: #190b02;
}

*, *:before, *:after, html {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

h1, h2, h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper--header {
  flex-direction: column;
}

.wrapper--slideBar {
  height: 414px;
  padding: 74px 0 0;
}

.wrapper--company {
  padding: 58px 0 30px;
  display: block;
}

.wrapper--partners {
  padding: 30px 0 40px;
}

.wrapper--recomend {
  padding: 30px 0 100px;
}

.wrapper--webShop {
  padding: 50px 0 26px;
  background: #F1F1F1;
}

.wrapper--news {
  padding: 55px 0 100px;
}

.wrapper--nav {
  padding: 21px 0 30px;
}

.wrapper--search {
  padding: 0 0 62px;
}

.wrapper--product {
  padding: 16px 0 20px;
}

.wrapper--delivery {
  padding: 30px 0 50px;
}

.wrapper--about {
  padding: 0 0 20px;
}

.wrapper--seem {
  padding: 30px 0 26px;
}

.wrapper--withBuy {
  padding: 30px 0 20px;
}

.wrapper--footer {
  background: #F1F1F1;
  padding: 31px 0 0px;
  flex-direction: column;
}

.ycont {
  display: flex;
  flex-direction: column;
  max-width: 1270px;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.ycont--regist {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ycont--logoBar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.ycont--searchBar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.ycont--company {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.ycont--company_top {
  margin-bottom: 70px;
}

.ycont--company_bottom {
  display: block;
}

.ycont--nav {
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.ycont--product {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.ycont--footer {
  flex-direction: column;
}

.ycont--footer__bottom {
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.title {
  text-align: left;
  font-size: 2em;
  line-height: 1.214em;
  font-weight: 700;
  color: #1C1C1C;
}

.about--wrapper {
  width: 100%;
}

.about--wrapper__top {
  position: relative;
  border-radius: 5px 5px 0 0;
  background: #80C9D4;
  height: 45px;
  display: flex;
  align-items: center;
}

.about--wrapper__bottom {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 35px 40px 42px;
}

.about--list {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.about--item {
  width: 20%;
  text-align: center;
  font-size: 1.42857em;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: 0.3s;
  height: 100%;
}

.about--item p {
  margin: 0px auto;
}

.about--item:hover {
  background: rgba(1, 186, 214, 0.7);
  cursor: pointer;
}

.about--item_active {
  background: #01BAD6;
}

.about--item_active:hover {
  opacity: 1;
  cursor: default;
}

.about--item:nth-child(1) {
  border-top-left-radius: 5px;
}

.about--item:nth-last-child(1) {
  border-top-right-radius: 5px;
}

.company--left__subtitle {
  font-size: 1em;
  line-height: 1.21428em;
  color: #1C1C1C;
  margin-bottom: 30px;
}

.company--left__subtitle_under {
  text-decoration: underline;
}

.company--left__list--title {
  font-size: 1.28571em;
  font-weight: 500;
  line-height: 1.222em;
  margin-bottom: 5px;
}

.company--left__footnote {
  font-size: 1em;
  line-height: 1.21428em;
  margin-bottom: 23px;
}

.company--left__footnote_color {
  color: #8F1212;
  font-weight: 500;
}

.company--left__footnote_bold {
  font-weight: 700;
}

.company--left__button {
  width: 221px;
  height: 45px;
  border-radius: 47px;
}

.company--list {
  margin: 0 0 10px;
}

.company--list__item {
  font-size: 1.0714em;
  line-height: 1.5333em;
  text-transform: capitalize;
}

.company--list__item_decorate {
  color: #01BAD6;
  font-weight: 500;
}

.company--right {
  width: 400px;
  position: relative;
  z-index: 100;
}

.company--right__block {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #01BAD6;
  background: #ffffff;
  z-index: 100;
}

.company--right__block_top {
  top: -10px;
  right: -10px;
}

.company--right__block_bottom {
  bottom: -10px;
  left: -10px;
}

.company--delivery {
  position: relative;
  width: 100%;
  padding: 25px 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  z-index: 1000;
}

.company--delivery__title {
  text-align: center;
  font-size: 1.28571em;
  line-height: 1.22222222em;
  font-weight: 700;
  margin-bottom: 28px;
}

.company--delivery__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.company--delivery__item {
  margin-bottom: 25px;
  width: 50%;
}

.company--delivery__img {
  margin: 0 auto;
  display: block;
}

.company--delivery__text {
  font-weight: 500;
  font-size: 1.14285em;
  line-height: 1.25em;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.company--bottom__list {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.company--bottom__img {
  margin: 0 auto 5px;
  display: block;
}

.company--bottom__text {
  text-align: center;
  font-weight: 500;
  font-size: 1.28571em;
  line-height: 1.2222em;
  color: #1c1c1c;
  position: relative;
}

.company--bottom__text::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 2px;
  background: #01BAD6;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
}

.delivery__title {
  margin-bottom: 25px;
}

.delivery--wrapper {
  width: 100%;
  height: 194px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 33px 70px 20px;
}

.delivery--list {
  display: flex;
  justify-content: space-between;
}

.delivery--item {
  padding-left: 90px;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 17px;
}

.delivery--item:nth-child(1) {
  background: url("../img/byTrack.png") no-repeat left center;
}

.delivery--item:nth-child(2) {
  background: url("../img/byAirplane.png") no-repeat left center;
}

.delivery--item:nth-child(3) {
  background: url("../img/byYourself.png") no-repeat left center;
}

.delivery--item__title {
  font-size: 1.28571em;
  line-height: 1.2222em;
  color: #1c1c1c;
  font-weight: 500;
}

.delivery--item__text {
  font-size: 1em;
  line-height: 1.214em;
  font-weight: 500;
  color: #646464;
}

.delivery__text {
  font-size: 1.1428em;
  line-height: 1.25em;
  color: #646464;
}

.delivery__text_color {
  color: #01BAD6;
}

.delivery__text_bold {
  font-weight: 500;
}

.nav__link {
  font-size: 1em;
  line-height: 1.2142em;
  color: #9E9E9E;
}

.nav__link_active {
  color: #2F80ED;
  font-size: 0.85714em;
  line-height: 1.25em;
}

.nav__arrow {
  margin: 0 10px;
}

.news__title {
  margin-bottom: 40px;
}

.news--slider {
  display: flex;
  justify-content: space-between;
}

.news--slide {
  width: 270px;
  height: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-position: center center;
  padding: 256px 8px 0 15px;
}

.news--slide__text {
  font-weight: 600;
  font-size: 1.07142em;
  line-height: 1.2em;
  color: #ffffff;
}

.news--wrapper__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  border: 1px solid #01BAD6;
}

.news--wrapper__arrow_left {
  left: 0;
}

.news--wrapper__arrow_right {
  right: 0;
}

.partners--slider {
  width: 100%;
  height: 186px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: #ffffff;
  overflow: hidden;
}

.partners--slider__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners--slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  border: 1px solid #01BAD6;
}

.partners--slider__arrow_left {
  left: -15px;
}

.partners--slider__arrow_right {
  right: -15px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  display: none;
}

.popup--order__wrapper {
  max-width: 503px;
  width: 95%;
  height: 403px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 30px 67px 0;
  position: relative;
}

.popup--order__title {
  font-weight: 500;
  font-size: 1.28571em;
  line-height: 1.22222em;
  text-align: center;
  margin: 0;
}

.popup--order__subtitle {
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.22222em;
  text-align: center;
  margin: 0 0 40px;
}

.popup--order__input {
  width: 100%;
  padding: 0 0 7px 0;
  border: 0;
  border-bottom: .5px solid #979797;
  background: transparent;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 0.85714em;
  line-height: 1.25em;
}

.popup--order__input_margin {
  margin-bottom: 25px;
}

.popup--order__btn {
  width: 200px;
  height: 40px;
  border-radius: 113px;
  margin: 0 auto 15px;
}

.popup--order__text {
  font-weight: 300;
  font-size: 0.71428em;
  line-height: 1.2em;
  text-align: center;
}

.popup--order__text_link {
  color: #01BAD6;
}

.popup--order svg {
  position: absolute;
  top: 15px;
  right: 15px;
}

.popup--order svg path {
  fill: #000000;
  transition: 0.6s;
}

.popup--order svg:hover {
  cursor: pointer;
}

.popup--order svg:hover > path {
  transform: rotateZ(360deg);
}

.recomend__list {
  display: flex;
  justify-content: space-between;
}

.recomend--item {
  position: relative;
  width: 272px;
  height: 458px;
  background: #ffffff;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: 25px 16px 0 24px;
}

.recomend--item__back {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  padding: 47px 24px 24px 37px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  opacity: 0;
  display: none;
}

.recomend--item__back svg {
  position: absolute;
  top: 12px;
  right: 10px;
}

.recomend--item__back svg:hover {
  cursor: pointer;
}

.recomend--item__back svg:hover > path {
  fill-opacity: 0.5;
}

.recomend--item__back svg path {
  fill: #000000;
  transition: 0.3s;
}

.recomend--item__back--title {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.214285em;
  margin-bottom: 20px;
}

.recomend--item__back--text {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.214285em;
}

.recomend--item__img {
  margin-bottom: 20px;
}

.recomend--item__title {
  font-size: 1.142857em;
  line-height: 1.25em;
  font-weight: 500;
  margin-bottom: 18px;
  text-align: center;
}

.recomend--item__row {
  display: flex;
  align-items: center;
}

.recomend--item__text {
  font-size: 0.857142em;
  line-height: 1.25em;
  margin-bottom: 5px;
}

.recomend--item__text_left {
  width: 135px;
}

.recomend--item__text_right {
  width: 100px;
}

.recomend--item__text_link {
  display: block;
  color: #01BAD6;
  text-decoration: underline;
}

.recomend--item__juridical {
  width: 169px;
  height: 30px;
  border-radius: 35px;
  margin-right: 15px;
}

.recomend--item__shop-card {
  background: #01BAD6 url("../img/shopping-cart.png") no-repeat center center;
  width: 30px;
  height: 30px;
  border-radius: 42px;
}

.recomend--item__button {
  width: 214px;
  height: 30px;
  margin: 9px 0 10px;
  border-radius: 35px;
  background: #DE4D43;
  color: 14px;
  line-height: 1.14285em;
  color: #ffffff;
  border: 0;
  transition: 0.3s;
}

.recomend--item__button:hover {
  opacity: 0.9;
}

.recomend--item__button:active {
  background: #e45d53;
  opacity: 1;
}

.recomend--item__cost {
  font-size: 1.14285em;
  line-height: 1.25em;
  font-weight: 500;
  color: #4F4F4F;
  text-align: center;
  white-space: pre;
  margin-bottom: 6px;
}

.recomend--item__cost_bold {
  font-weight: 700;
  color: #1C1C1C;
}

.recomend--item__cost_small {
  font-size: 0.85em;
}

.recomend--item__stars {
  margin: 0px auto;
  width: max-content;
}

.recomend--item__stars-star {
  margin: 0 3px;
}

.recomend--item__circles {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 10px;
}

.recomend--item__circles:hover {
  cursor: pointer;
}

.recomend--item__circles_circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #707070;
  margin: 0 auto 3px;
}

.recomend--item__balance {
  position: absolute;
  top: 11px;
  left: 10px;
}

.recomend--item__balance:hover {
  cursor: pointer;
}

.search--left {
  width: 270px;
  height: 1240px;
  padding: 35px 10px 32px 23px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.slideBar__wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: max-content;
  margin: 0px auto;
}

.slideBar__title {
  font-size: 2.57142em;
  line-height: 1.07em;
  font-weight: 700;
  color: #0D2730;
  letter-spacing: -0.035em;
  margin-bottom: 15px;
}

.slideBar__title_bold {
  font-weight: 900;
}

.slideBar__text {
  font-size: 1.142857em;
  line-height: 1.25em;
  color: #1c1c1c;
}

.slideBar__circles {
  position: absolute;
  left: 50%;
  bottom: 70px;
  display: flex;
}

.slideBar__circles-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(52, 94, 107, 0.5);
  margin-right: 20px;
  transition: 0.3s;
}

.slideBar__circles-circle:nth-last-child(1) {
  margin-right: 0;
}

.slideBar__circles-circle:hover {
  background: rgba(52, 94, 107, 0.8);
  cursor: pointer;
}

.slideBar__circles-circle_active {
  background: #345E6B;
}

.slideBar__circles-circle_active:hover {
  background: #345E6B;
  cursor: default;
}

.webShop__title {
  text-align: center;
  margin-bottom: 5px;
}

.webShop__text {
  text-align: center;
  font-size: 1.14285em;
  line-height: 1.25em;
  color: #1C1C1C;
  margin-bottom: 40px;
}

.webShop--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.webShop--item {
  width: 270px;
  height: 370px;
  background: #ffffff;
  padding-top: 14px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
  margin-bottom: 40px;
}

.webShop--item:hover > .webShop--item__img > .webShop--item__back {
  opacity: 1;
}

.webShop--item__title {
  text-align: center;
  margin: 0 auto 14px;
  font-weight: 500;
  font-size: 1.071428em;
  line-height: 1.0666666em;
  color: #1C1C1C;
}

.webShop--item__img {
  position: relative;
  height: 310px;
}

.webShop--item__back {
  position: absolute;
  width: 100%;
  height: 310px;
  padding: 25px 20px 32px 38px;
  top: 0;
  left: 0;
  border-top: 0.5px solid #6C6C6C;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.6s;
  opacity: 0;
  background: #ffffff;
}

.webShop--item__back--block {
  overflow: hidden;
  height: 94%;
  margin-bottom: 5px;
}

.webShop--item__back--text {
  font-size: 1em;
  line-height: 1.1em;
  margin-bottom: 8px;
}

.webShop--item__back--link {
  font-size: 1em;
  font-weight: 300;
  color: #01BAD6;
  text-decoration: underline;
}

.webShop--item__back--link:hover {
  color: #0176d6;
}

.webShop--item__back--link:active {
  opacity: 0.9;
}

.webShop--item__back--gradient {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(360deg, #FFFFFF 3.5%, rgba(255, 255, 255, 0) 108%);
}

.header--regist {
  background: #F1F1F1;
  padding: 10px 0;
  width: 100%;
}

.header--regist__link {
  margin-right: 35px;
}

.header--regist__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--enter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

.header--enter__button {
  font-size: 0.71428em;
  text-align: right;
  line-height: 0.9em;
  color: #6C6C6C;
  margin-bottom: 3px;
  margin-left: auto;
  transition: 0.3s;
}

.header--enter__button:nth-child(2) {
  margin-bottom: 0;
}

.header--enter__button:hover {
  cursor: pointer;
  color: #000000;
}

.logoBar--phones {
  padding-left: 45px;
  background: url("../img/phone.png") no-repeat left center;
  display: flex;
  flex-direction: column;
}

.logoBar--phones__text {
  font-size: 1.2857em;
  font-weight: 500;
  line-height: 1.1em;
}

.logoBar--phones__text_color {
  font-size: 1.1428em;
  color: #4F4F4F;
}

.logoBar--time {
  padding-left: 45px;
  background: url("../img/clock.png") no-repeat left center;
  height: 37px;
  display: flex;
  align-items: center;
}

.logoBar--time__text {
  font-size: 1.1428em;
  font-weight: 500;
}

.logoBar__button {
  width: 200px;
  height: 40px;
  border: 1.5px solid #01BAD6;
  border-radius: 25px;
  color: #01BAD6;
  font-size: 1.1428em;
  font-weight: 500;
  background: transparent;
  transition: 0.3s;
}

.logoBar__button:hover {
  opacity: 0.8;
}

.logoBar--icons {
  display: flex;
}

.logoBar--icons__block:nth-child(2) {
  margin-left: 40px;
}

.searchBar {
  background: #F1F1F1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.searchBar--catalog {
  width: 370px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #159CB0;
  border-radius: 3px;
  position: relative;
  transition: 1s;
}

.searchBar--catalog_active {
  background: #01BAD6;
}

.searchBar--catalog:hover {
  cursor: pointer;
}

.searchBar--catalog__img {
  margin-right: 16px;
}

.searchBar--catalog__text {
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
}

.searchBar--catalog__bottomBar {
  height: 0;
  padding: 0 35px;
  overflow: hidden;
  position: absolute;
  top: 29px;
  left: 0;
  background: #ffffff;
  width: 370px;
  transition: 1s;
}

.searchBar--catalog__bottomBar_active {
  height: auto;
}

.searchBar--catalog__bottomBar--right {
  opacity: 0;
  position: absolute;
  top: 16px;
  left: 100%;
  background: #ffffff;
  width: 365px;
  padding: 35px 35px 35px 30px;
}

.searchBar--catalog__link {
  font-size: 1.14285em;
  color: #1C1C1C;
  line-height: 1.25em;
  margin-bottom: 18px;
  padding-right: 20px;
  background: url("../img/arrow-right.png") no-repeat right center;
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.searchBar--catalog__link:nth-child(1) {
  margin-top: 53px;
}

.searchBar--catalog__link:hover {
  color: #01BAD6;
}

.searchBar--catalog__link_active {
  background: url("../img/arrow-left.png") no-repeat right center;
}

.searchBar--catalog__link_bg {
  background: 0;
}

.searchBar--catalog__line {
  width: 100%;
  height: 16px;
  background: #01BAD6;
  position: absolute;
  top: 0;
  left: 0;
}

.searchBar--search {
  position: relative;
  display: flex;
}

.searchBar--search__input {
  width: 690px;
  height: 38px;
  padding-left: 20px;
  padding-right: 60px;
  border-radius: 3px;
  border: 0;
}

.searchBar--search__buttons {
  display: none;
  position: relative;
  left: -20px;
}

.searchBar--search__button {
  width: 55px;
  height: 38px;
  border: 0;
  padding: 0;
}

.searchBar--search__button_search {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #01BAD6 url("../img/search.png") no-repeat center center;
}

.searchBar--search__button_close {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #01BAD6 url("../img/close.png") no-repeat center center;
}

.searchBar--search__button_active {
  background: #01BAD6 url("../img/search.png") no-repeat center center;
  border-radius: 5px;
  width: 45px;
  margin-left: 30px;
}

.searchBar--nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: #ffffff;
  padding: 7px 0;
}

.searchBar--nav__link {
  font-size: 1em;
  line-height: 1.2em;
  color: #1C1C1C;
  transition: 0.3s;
  margin-right: 42px;
}

.searchBar--nav__link:nth-child(:last-child) {
  margin-right: 0;
}

.searchBar--nav__link:hover {
  opacity: 0.9;
}

.searchBar--nav__line {
  position: absolute;
  width: 1px;
  height: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.footer__row {
  display: flex;
  align-items: start;
}

.footer__row_margin {
  margin-bottom: 55px;
}

.footer__title {
  font-size: 1.2857em;
  line-height: 1.22222em;
  font-weight: 600;
  color: #1c1c1c;
}

.footer--catalog__title {
  text-decoration: underline;
  margin-bottom: 10px;
}

.footer--catalog__list {
  margin-right: 62px;
}

.footer--catalog__list li {
  width: 308px;
}

.footer--catalog__list li a {
  font-size: 0.92857em;
  line-height: 1.53846em;
  color: #1c1c1c;
}

.footer--info__title {
  text-decoration: underline;
  margin-bottom: 10px;
}

.footer--info__list {
  margin-right: 78px;
}

.footer--info__list li {
  width: 223px;
}

.footer--info__list li a {
  font-size: 0.92857em;
  line-height: 1.53846em;
  color: #1c1c1c;
  display: block;
}

.footer--menu {
  padding-top: 32px;
}

.footer--menu__list {
  margin-right: 91px;
}

.footer--menu__list li {
  width: 208px;
  margin-bottom: 10px;
}

.footer--menu__list li:nth-last-child(1) {
  margin-bottom: 0;
}

.footer--menu__list li a {
  font-size: 1.14285em;
  line-height: 1.875em;
  color: #1c1c1c;
  font-weight: 500;
}

.footer--contact {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.footer--contact__phone {
  font-size: 1.28571em;
  line-height: 1.166666em;
  margin-bottom: 2px;
}

.footer--contact__mail {
  font-size: 1.14285em;
  line-height: 1.1875em;
  margin: 12px 0 13px;
  color: #606060;
}

.footer--contact__text {
  font-size: 1.28571em;
  line-height: 1.5em;
  color: #1C1C1C;
  margin-bottom: 25px;
}

.footer--contact__text_time {
  color: #606060;
}

.footer--contact__icons {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.footer--address {
  display: flex;
  flex-direction: column;
}

.footer--address__title {
  margin-bottom: 20px;
}

.footer--address__btn {
  width: 201px;
  height: 35px;
  border-radius: 40px;
  margin-bottom: 15px;
  margin-right: 29px;
}

.footer--address__link {
  font-size: 0.85714em;
  line-height: 1.166666em;
  color: #1c1c1c;
}

.footer__map {
  width: 269px;
  height: 155px;
  margin-right: 170px;
}

.footer--mailing__title {
  margin-bottom: 20px;
}

.footer--mailing__input {
  width: 400px;
  font-weight: 300;
  font-size: 1em;
  padding: 0 0 8px;
  line-height: 1.2em;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 10px;
  color: #000000;
}

.footer--mailing__input:placeholder {
  color: #4F4F4F;
}

.footer--mailing__text {
  font-size: 0.85714em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: 13px;
}

.footer--mailing__btn {
  width: 175px;
  height: 35px;
  border-radius: 40px;
}

.footer--bottom__wrapper {
  padding: 17px 0;
  background: #ffffff;
  margin-top: 33px;
}

.footer--bottom__text {
  font-size: 1em;
  color: #1c1c1c;
  margin-right: 171px;
}

.footer--bottom__link {
  font-size: 1em;
  margin-right: auto;
}
