.news__title {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .news__title {
    margin-bottom: 20px;
  }
}

.news--slide {
  width: 270px;
  height: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-position: center center;
  padding: 256px 8px 0 15px;
  margin: 0px auto;
}

.news--slide__text {
  font-weight: 600;
  font-size: 1.07142em;
  line-height: 1.2em;
  color: #ffffff;
}
