.news__title {
  margin-bottom: 40px;
}

.news--slider {
  display: flex;
  justify-content: space-between;
}

.news--slide {
  width: 270px;
  height: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-position: center center;
  padding: 256px 8px 0 15px;
}

.news--slide__text {
  font-weight: 600;
  font-size: 1.07142em;
  line-height: 1.2em;
  color: #ffffff;
}

.news--wrapper__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  border: 1px solid #01BAD6;
}

.news--wrapper__arrow_left {
  left: 0;
}

.news--wrapper__arrow_right {
  right: 0;
}
