.news__title {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .news__title {
    margin-bottom: 20px;
  }
}

.news--slide {
  width: 270px;
  height: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-position: center center;
  padding: 155px 8px 40px 15px;
  margin: 0px auto;
}

.news--slide:hover > .news--slide__hover > .news--slide__hidden {
  transform: translateY(-3px);
}

.news--slide__hover {
  overflow: hidden;
}

.news--slide__hidden {
  transform: translateY(105px);
  transition: 0.5s;
}

.news--slide__title {
  font-weight: 600;
  font-size: 1.07142em;
  line-height: 1.2em;
  color: #ffffff;
}

.news--slide__line {
  width: 160px;
  height: 1px;
  background: #ffffff;
  margin-bottom: 6px;
  margin-top: 6px;
}

.news--slide__text {
  font-size: 0.8em;
  line-height: 1.25em;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 18px;
}

.news--slide__btn {
  width: 175px;
  height: 35px;
  border-radius: 40px;
}
