.webShop__title {
  text-align: center;
  margin-bottom: 5px;
}

.webShop__text {
  text-align: center;
  font-size: 1.14285em;
  line-height: 1.25em;
  color: #1C1C1C;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .webShop__text {
    margin-bottom: 15px;
  }
}

.webShop--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .webShop--list {
    flex-direction: column;
    align-items: center;
  }
}

.webShop--item {
  width: 270px;
  height: 370px;
  background: #ffffff;
  padding-top: 14px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .webShop--item {
    margin-bottom: 20px;
  }
}

.webShop--item:hover > .webShop--item__img > .webShop--item__back {
  opacity: 1;
}

.webShop--item__title {
  text-align: center;
  margin: 0 auto 14px;
  font-weight: 500;
  font-size: 1.071428em;
  line-height: 1.0666666em;
  color: #1C1C1C;
}

.webShop--item__img {
  position: relative;
  height: 310px;
}

.webShop--item__back {
  position: absolute;
  width: 100%;
  height: 310px;
  padding: 25px 20px 32px 38px;
  top: 0;
  left: 0;
  border-top: 0.5px solid #6C6C6C;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.6s;
  opacity: 0;
  background: #ffffff;
}

.webShop--item__back--block {
  overflow: hidden;
  height: 94%;
  margin-bottom: 5px;
}

.webShop--item__back--text {
  font-size: 1em;
  line-height: 1.1em;
  margin-bottom: 8px;
}

.webShop--item__back--link {
  font-size: 1em;
  font-weight: 300;
  color: #01BAD6;
  text-decoration: underline;
}

.webShop--item__back--link:hover {
  color: #0176d6;
}

.webShop--item__back--link:active {
  opacity: 0.9;
}

.webShop--item__back--gradient {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(360deg, #FFFFFF 3.5%, rgba(255, 255, 255, 0) 108%);
}
