@import "media";
.ycont
	display: flex
	flex-direction: column
	max-width: 1270px
	width: 100%
	position: relative
	padding-left: 15px
	padding-right: 15px
	margin: 0px auto
	&--regist
		flex-direction: row
		justify-content: space-between
		align-items: center
		@media (max-width: $media-pc)
			flex-direction: column
	&--logoBar
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding: 15px 15px
		@media (max-width: $media-pc)
			flex-direction: column
	&--searchBar
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding: 10px 15px
		position: static
		@media (max-width: $media-pc)
			justify-content: center
	&--slideBar
	&--company
		flex-direction: row
		justify-content: space-between
		align-items: start
		@media (max-width: $media-pc)
			flex-direction: column
			align-items: center
		&_top
			margin-bottom: 70px
			@media (max-width: $media-pc)
				margin-bottom: 30px
		&_bottom
			display: block
	&--nav
		flex-direction: row
		align-items: center
		justify-content: start
		flex-wrap: wrap
	&--product
		flex-direction: row
		align-items: start
		@media (max-width: $media-pc)
			flex-direction: column
			align-items: center
	&--search
		flex-direction: row
		justify-content: 
		align-items: start
	&--footer
		flex-direction: column
		&__bottom
			justify-content: start
			align-items: center
			flex-direction: row
			@media (max-width: $media-pc)
				flex-direction: column
				padding-bottom: 15px


