.ycont
	display: flex
	flex-direction: column
	max-width: 1270px
	width: 100%
	position: relative
	padding-left: 15px
	padding-right: 15px
	&--regist
		flex-direction: row
		justify-content: space-between
		align-items: center
	&--logoBar
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding: 15px 15px
	&--searchBar
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding: 10px 15px
