.footer
    &__row
        display: flex
        align-items: start
        &_margin
            margin-bottom: 55px
    &__title
        font-size: 1.2857em
        line-height: 1.22222em
        font-weight: 600
        color: #1c1c1c
    &--catalog
        &__title
            text-decoration: underline
            margin-bottom: 10px
        &__list
            margin-right: 62px
            & li
                width: 308px
                & a
                    font-size: 0.92857em
                    line-height: 1.53846em
                    color: #1c1c1c
    &--info
        &__title
            text-decoration: underline
            margin-bottom: 10px
        &__list
            margin-right: 78px
            & li
                width: 223px
                & a
                    font-size: 0.92857em
                    line-height: 1.53846em
                    color: #1c1c1c
                    display: block
    &--menu
        padding-top: 32px
        &__list
            margin-right: 91px
            & li
                width: 208px
                margin-bottom: 10px
                &:nth-last-child(1)
                    margin-bottom: 0
                & a
                    font-size: 1.14285em
                    line-height: 1.875em
                    color: #1c1c1c
                    font-weight: 500
    &--contact
        padding-top: 32px
        display: flex
        flex-direction: column
        &__phone
            font-size: 1.28571em
            line-height: 1.166666em
            margin-bottom: 2px
        &__mail
            font-size: 1.14285em
            line-height: 1.1875em
            margin: 12px 0 13px
            color: #606060
        &__text
            font-size: 1.28571em
            line-height: 1.5em
            color: #1C1C1C
            margin-bottom: 25px
            &_time
                color: #606060
        &__icons
            display: flex
            width: 80px
            justify-content: space-between
    &--address
        display: flex
        flex-direction: column
        &__title
            margin-bottom: 20px
        &__btn
            width: 201px
            height: 35px
            border-radius: 40px
            margin-bottom: 15px
            margin-right: 29px
        &__link
            font-size: 0.85714em
            line-height: 1.166666em
            color: #1c1c1c
    &__map
        width: 269px
        height: 155px
        margin-right: 170px
    &--mailing
        &__title
            margin-bottom: 20px
        &__input
            width: 400px
            font-weight: 300
            font-size: 1em
            padding: 0 0 8px
            line-height: 1.2em
            background: transparent
            border: 0
            border-bottom: 1px solid #9E9E9E
            margin-bottom: 10px
            color: #000000
            &:placeholder
                color: #4F4F4F
        &__text
            font-size: 0.85714em
            line-height: 1.25em
            font-weight: 300
            margin-bottom: 13px
        &__btn
            width: 175px
            height: 35px
            border-radius: 40px
    &--bottom
        &__wrapper
            padding: 17px 0
            background: #ffffff
            margin-top: 33px
        &__text
            font-size: 1em
            color: #1c1c1c
            margin-right: 171px
        &__link
            font-size: 1em
            margin-right: auto