@import "media" ;
body
    max-width: 1960px 
    margin: 0px auto
    font-size: 14px
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    @media (max-width:$media-pc)
        font-size: 12px
p
    margin: 0
a
    transition: 0.3s
    &:hover
        opacity: 0.9
        cursor: pointer

.button
    border: 0
    background: #01BAD6
    color: #ffffff
    font-size: 1.07142em
    transition: 0.3s
    &:hover
        opacity: 0.8
    &:active
        background-color: #159CB0
    
.roboto
    font-family: 'Roboto', sans-serif
    font-weight: normal

.balance
    position: relative
    & div
        position: absolute
        top: -8px
        right: -9px
        width: 18px
        height: 18px
        border: 1px solid #F1F1F1
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15)
        background: #01BAD6
        border-radius: 50%
        color: #ffffff
        font-size: 0.8571em
        text-align: center
    &:hover
        cursor: pointer
.arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 30px
    height: 30px
    border-radius: 50%
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
    background: #FFFFFF
    border: 1px solid #01BAD6
    z-index: 1000
    &--left
        left: 0
    &--right
        right: 0

.bars
    width: 100%
    max-width: 410px
    transform: translateX(100%)
    background: #f1f1f1
    height: 100vh
    position: fixed
    right: 0
    top: 0
    z-index: 100
    display: flex
    flex-direction: column
    transition: 0.3s
    align-items: center
    &_active
        transform: translateX(0)
    &-menu
        width: min-content
        margin: 0px auto
        & li
            margin-bottom: 15px
            text-align: center
            & a
                &:hover
                    color:  #01BAD6
    &>svg
        position: absolute
        right: 15px
        top: 15px
        fill: #000000
        z-index: 1000
        &:hover
            cursor: pointer
            fill:  #01BAD6
    &--regist
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 15px
    &--enter
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        margin-right: 10px
        &__button
            font-size: 0.71428em
            text-align: right
            line-height: 0.9em
            color: #6C6C6C
            margin-bottom: 3px
            margin-left: auto
            transition: 0.3s
            &:nth-child(2)
                margin-bottom: 0
            &:hover
                cursor: pointer
                color: #000000



    
    
    
    
    
@import "normalize";
@import "wrapper";
@import "container";
@import "title";
@import "alsoBuy";
@import "company";
@import "delivery";
@import "nav";
@import "news";
@import "partners";
@import "popup";
@import "product";
@import "recomend";
@import "about";
@import "search";
@import "seem";
@import "slideBar";
@import "webShop";
@import "header";;
@import "footer";

@keyframes fadeIn
    0%
        opacity: 0
        z-index: 1
    1%
        opacity: 0.01
        z-index: 3
    100%
        opacity: 1
        z-index: 3

@keyframes fadeOut
    0%
        opacity: 1
        z-index: 3
    100%
        opacity: 0
        z-index: 1


.fadeIn
    animation: fadeIn 1s 1
    animation-fill-mode: forwards

.fadeOut
    animation: fadeOut 1s 1
    animation-fill-mode: forwards
