@import "media";
.slideBar
    &__layover
        position: absolute
        left: 0
        top: 0
    &__img
        position: absolute
        right: -200px
        top: 0
        width: 742px
        height: 414px
        & div
            width: 445px
            height: 100%
            background: linear-gradient(90deg, #DEE6ED 0%, rgba(222, 230, 237, 0.567708) 62.5%, rgba(222, 230, 237, 0) 100%)
            position: absolute
            left: 0
            top: 0
    &__wrapper
        display: flex
        justify-content: start
        align-items: start
        flex-direction: column
        width: max-content
        margin: 0px auto
        position: relative
        height: 100%
    &__title
        font-size: 2.57142em
        line-height: 1.07em
        font-weight: 700
        color: #0D2730
        letter-spacing: -0.035em
        margin-bottom: 15px
        &_bold
            font-weight: 900
    &__text
        font-size: 1.142857em
        line-height: 1.25em
        color: #1c1c1c
    &__circles
        position: absolute
        left: 0
        bottom: 70px
        display: flex
        &-circle
            width: 15px
            height: 15px
            border-radius: 50%
            background: rgba(52, 94, 107, 0.5)
            margin-right: 20px
            transition: 0.3s
            &:nth-last-child(1)
                margin-right: 0
            &:hover
                background: rgba(52, 94, 107, 0.8)
                cursor: pointer
            &_active
                background: #345E6B
                &:hover
                    background: #345E6B
                    cursor: default
    &__br
        &_visible
            display: none
            @media (max-width: $media-pc)
                display: block